<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="zf-apigility-skeleton">
            <directory>./module/Application/test</directory>
        </testsuite>
        <testsuite name="text-module">
            <directory>./module/Text/test</directory>
        </testsuite>
    </testsuites>
</phpunit>
